body {
    margin: 0 auto;
    font-family: Helvetica;
}

.zone {
    color: rgb(242, 248, 245);
    font-size: 2em;
    border-radius: 4px; 
}

.zone:hover {
    -webkit-box-shadow: rgba(0,0,0,0.8);
    -moz-box-shadow: rgba(0,0,0,0.8);
    -o-box-shadow: rgba(0,0,0,0.8);
    box-shadow: rgba(0,0,0,0.8);
}

.main-nav {
    font-size: 0.7em;
    margin: 0;
    list-style: none;
    display:flex;
}

a:hover {
    color: #f5faf8;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}
@media only screen and (max-width: 1366px) {
    .main-nav {
        font-size: 0.7em;
        padding: 0;
    }
    .card {
        margin: auto;


    }
}
.button {
    color: #30336b
}


.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #021d15;
    text-decoration: none;
}

.sticky {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

.blue {
    background: #686de0;
}

.container {
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}



.cover {
    width: 100%;
    height: 100%;
}

.coverText {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.coverText > h1 {
    color: white;
    font-size: 40px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, min max(350px, 1fr));
    gap: 10px;
}

.card {
    background-color: #b31c99;
    margin: 50px;
}

.card > img {
    max-width: 100%;
    height: AUTO;

    
}

.card h1 {
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
}

.card > .text {
    padding: 0 20px 20px;
}

button {
    cursor:pointer;
    background: rgb(8, 8, 8);
    border: 0;
    font-size: 1rem;
    color: white;
    padding: 10px;
    width: 100%;
}

button:hover {
    background-color: #686de0;
}

footer {
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: #30336b;
}

footer p {
    font-size: 1rem;
}


circle {
    shape-rendering: auto;
}


center {
    align-items: center;
    background-color: #444; 
    
}

div.svg {
    columns: initial;
}

#unico {
    background: #30336b;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    color: #1b1e53;
    font-size: 2rem;
  }